<html>
      <head>
            <title>SSNL Home Base</title>
            <link rel="stylesheet" href="../../static/bootstrap/bootstrap.min.css">
            <link rel="stylesheet" href="../../static/main.css">
            <link rel="icon" href="../../static/img/big_brain.jpg">
      </head>
      <body>

            {% block content %}

            <a href="{{ url_for('lab_manager_landing') }}">
                  <img src="../../static/img/THE_OG.jpg" class="the_og">
            </a>

            <h2>SSNL Projects</h2>

            <div style="padding: 50px 0px; margin-left: auto; margin-right: auto; width: 85%;">
                  {{ data | safe }}
            </div>

            {% endblock %}
      </body>
</html>