<html>
      <head>
            <title>SSNL Home Base</title>
            <link rel="stylesheet" href="../../static/bootstrap/bootstrap.min.css">
            <link rel="stylesheet" href="../../static/main.css">
            <link rel="icon" href="../../static/img/big_brain.jpg">
      </head>
      <body>

            {% block content %}

            <a href="{{ url_for('lab_manager_landing') }}">
                  <img src="../../static/img/THE_OG.jpg" class="the_og">
            </a>

            <h2>SSNL Projects</h2>

            <div style="padding: 20px;">
                  <table id="project_data" class="table table-striped">
                        <thead>
                              <tr>
                                    <th>Key</th>
                                    <th>PTA</th>
                                    <th>Sponsor</th>
                                    <th>IRB Number</th>
                              </tr>
                        </thead>
                        <tbody>
                              {% for project in data %}
                                    <tr>
                                          <td>{{ project.key }}</td>
                                          <td>{{ project.pta }}</td>
                                          <td>{{ project.sponsor }}</td>
                                          <td>{{ project.irb_number }}</td>
                                    </tr>
                              {% endfor %}
                        </tbody>
                  </table>
            </div>

            {% endblock %}
      </body>
</html>