<html>

<head>
    <title>[ Admin ] SSNL Home Base</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/big_brain.jpg') }}">
</head>

<body>
    <!---  Error Handling --->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class='alert alert-warning' role='alert'>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="modular_payment_container">
        <a href="{{ url_for('admin.landing') }}">
            <img src="{{ url_for('static', filename='img/THE_OG.jpg') }}" class="the_og">
        </a>
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>