<html>

{% extends "template.html" %}

<body>
      {% block content %}

      <a href="{{ url_for('general.index') }}">
            <img src="{{ url_for('static', filename='img/THE_OG.jpg') }}" class="the_og">
      </a>

      <form action="{{ url_for('admin.index') }}" method="POST">
            <h2>
                  Please Login to Continue
            </h2>
            <br> <br> <br>
            <label for="name">Your Name</label><br>
            <input type="text" name="name" id="name">
            <br><br><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password">
            <br> <br> <br>
            <input type="submit" value="Login">
      </form>
      {% if error %}
      <p class="error">
            <strong>Error: </strong> {{ error }}
      </p>
      {% endif %}

      {% endblock %}
</body>

</html>