<html>

<head>
      <title>SSNL Home Base</title>
      <link rel="stylesheet" href="../../static/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="../../static/main.css">
      <link rel="icon" href="../../static/img/big_brain.jpg">
</head>

<body>

      {% block content %}

      <a href="{{ url_for('lab_manager_landing') }}">
            <img src="../../static/img/THE_OG.jpg" class="the_og">
      </a>

      <h2>Update Existing Project</h2>

      <form action="{{ url_for('update_members') }}" method="POST">
            <label for="member_to_update">
                  Lab Member to Update
            </label><br>
            <input type="text" id="member_to_update" name="member_to_update">
            <br><br><br>
            <label for="employee_number">
                  New Employee Number (leave blank if NA)
            </label><br>
            <input type="text" id="employee_number" name="employee_number" value="">
            <br><br><br>
            <label for="title">
                  New Title (leave blank if NA)
            </label><br>
            <input type="text" id="title" name="title" value="">
            <br><br><br>
            <input type="submit" value="Update Lab Member">
      </form>

      {% endblock %}
</body>

</html>