<html>

<head>
      <title>SSNL Home Base</title>
      <link rel="stylesheet" href="../../static/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="../../static/main.css">
      <link rel="icon" href="../../static/img/big_brain.jpg">
</head>

<body>

      {% block content %}

      <a href="{{ url_for('lab_manager_landing') }}">
            <img src="../../static/img/THE_OG.jpg" class="the_og">
      </a>

      <h2>SSNL Lab Members</h2>

      <div style="padding: 20px;">
            <table id="member_data" class="table table-striped">
                  <thead>
                        <tr>
                              <th>Name</th>
                              <th>Employee #</th>
                              <th>Title</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% for member in data %}
                        <tr>
                              <td>{{ member.full_name }}</td>
                              <td>{{ member.employee_number }}</td>
                              <td>{{ member.title }}</td>
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
      </div>

      {% endblock %}
</body>

</html>