<html>
      <head>
            <title>SSNL Home Base</title>
            <link rel="stylesheet" href="../../static/bootstrap/bootstrap.min.css">
            <link rel="stylesheet" href="../../static/main.css">
            <link rel="icon" href="../../static/img/big_brain.jpg">
      </head>
      <body>

            {% block content %}

            <a href="{{ url_for('lab_manager_landing') }}">
                  <img src="../../static/img/THE_OG.jpg" class="the_og">
            </a>

            <h2>Update Existing Project</h2>

            <form action="{{ url_for('update_projects') }}" method="POST">
                  <label for="project_to_update">
                        Project to Update
                  </label><br>
                  <input type="text" id="project_to_update" name="project_to_update">
                  <br><br><br>
                  <label for="pta">
                        New PTA (leave blank if NA)
                  </label><br>
                  <input type="text" id="pta" name="pta" value="">
                  <br><br><br>
                  <label for="sponsor">
                        New Sponsor (leave blank if NA)
                  </label><br>
                  <input type="text" id="sponsor" name="sponsor" value="">
                  <br><br><br>
                  <label for="irb_number">
                        New IRB Number (leave blank if NA)
                  </label><br>
                  <input type="text" id="irb_number" name="irb_number" value="">
                  <br><br><br>
                  <input type="submit" value="Update Project">
            </form>

            {% endblock %}
      </body>
</html>