.DS_Store
*/.DS_Store
*.pyc
layout.md
*ipynb*
*.env*

###

*/static/bootstrap/bootstrap.min.js
*/static/bootstrap/bootstrap.min.js.map
*/files/packets/members.json
*/files/packets/*.json
*/files/packets/*.json
*/files/justifications/
*/files/uploads/
*/files/DEV/
ssnl/files/packets/projects.json
ssnl/files/packets/members.json
