.DS_Store
*/.DS_Store
*.pyc
layout.md
*ipynb*
.env

###

static/bootstrap/bootstrap.min.js
static/bootstrap/bootstrap.min.js.map
files/packets/members.json
files/packets/projects.json
files/packets/reocurring.json
files/justifications/
files/uploads/
files/DEV/