<html>
{% extends "template.html" %}

<body>
    {% block content %}
    <!-- Redirect to the home page -->
    <a href="{{ url_for('index') }}">
        <img src="static/img/THE_OG.jpg" class="the_og">
    </a>

    <!-- REQ: endpoint, form_title -->
    <form action="{{ url_for(endpoint) }}" method="POST">
        <!-- -->
        <div class="modular_payment_container">
            <h2>{{ form_title }}</h2>
        </div>

        <!-- -->
        <div class="modular_payment_container">
            <label for="purchased_short">
                <b>What was purchased? (Short)</b>
            </label> <br>
            <input type="text" id="purchased_short" name="purchased_short">
        </div>

        <!-- -->
        <div class="modular_payment_container">
            <label for="purchased_long">
                <b>What was purchased? (Long)</b>
            </label> <br>
            <textarea id="purchased_long" name="purchased_long" rows="5" cols="50"></textarea>
        </div>

        <!-- -->
        <div class="modular_payment_container">
            <label for="purchased_why">
                <b>Why was it purchased?</b>
            </label> <br>
            <textarea id="purchased_why" name="purchased_why" rows="5" cols="50"></textarea>
        </div>

        <!-- WHO [ Optional ] -->
        <!--div class="modular_payment_container">
            <label for="show_who">
                <b>Check Box to Add a WHO Section </b>
            </label>
            <input type="checkbox" name="show_who" id="show_who" value="0">
            <div id="who_box" style="display:none">
                Hello world!
            </div>
        </div-->

        <!-- -->
        <!--div class="modular_payment_container"></div-->

        <!-- REQ: members, legacy_members -->
        <div class="modular_payment_container">
            <label for="purchased_by">
                <b>Purchased By</b>
            </label><br>
            <select name="purchased_by" id="purchased_by">
                <option value=""></option>
                {% for member in members %}
                {% if member not in legacy_members %}
                <option value="{{ member }}">{{ member.upper() }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <!-- REQ: funding_sources -->
        <div class="modular_payment_container">
            <label for="funding_source"><b>Funding Source</b></label>
            <br>
            <select name="funding_source" id="funding_source">
                <option value=""></option>
                {% for source_name in funding_sources.keys() %}
                <option value="{{ source_name }}">{{ source_name.upper()}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- -->
        <div class="modular_payment_container">
            <label for="charge_amount">
                <b>Amount Charged to P-Card</b>
            </label><br>
            <p>Use standard currency format (e.g., $150.00)</p>
            <input type="text" id="charge_amount" name="charge_amount">
        </div>

        <!-- -->
        <div class="modular_payment_container">
            <label for="date_charged">
                <b>Date Charged</b>
            </label><br>
            <p>Use MM/DD/YYYY format</p>
            <input type="text" id="date_charged" name="date_charged">
        </div>

        <!-- -->
        <div class="modular_payment_container"></div>

        <button type="submit" class="btn btn-primary">Download Justification</button>
    </form>
    {% endblock %}
</body>

</html>