<html>
{% extends "template.html" %}

<body>
      {% block content %}

      <a href="{{ url_for('general.index') }}">
            <img src="../static/img/THE_OG.jpg" class="the_og">
      </a>

      <div class="mturk_box">
            <h1>MTurk Workerfile Automator</h1>

            <h2>Instructions</h2>
            <p>
                  This engine accepts <b>.csv</b> and <b>.xlsx</b> files.
                  <mark>Make sure your speadsheet has <b>WorkerId</b> and <b>payment</b> columns (required) and a
                        <b>fee</b>
                        column (optional)</mark>
            </p>
      </div>
      <div class="mturk_box">
            <h2>Upload Your Worker File Below</h2>
            <form action="{{ url_for('general.mturk') }}" method="POST" enctype="multipart/form-data">
                  <input type="file" name="file" id="file" class="form-control" accept=".csv, .xlsx">
                  <br> <br>
                  <button type="submit" class="btn btn-primary">Upload</button>
            </form>
      </div>

      {% endblock %}
</body>

</html>