<html>
{% extends "template.html" %}

<body>

      {% block content %}

      <img src="../static/img/THE_OG.jpg" class="the_og">

      <h1><b>SSNL Home Base</b></h1>

      <a href="{{ url_for('bp') }}">
            <h3 class="home_page_link">Justification Automator</h3>
      </a>
      <a href="{{ url_for('mturk') }}">
            <h3 class="home_page_link">MTurk Workerfile Automator</h3>
      </a>
      <a href="{{ url_for('combine_pdf') }}">
            <h3 class="home_page_link">Combine PDFs</h3>
      </a>

      <div class="modular_payment_container">
            <a href="{{ url_for('lab_manager_login') }}">
                  <img src="{{ url_for('static', filename='img/yeehaw.webp')}}" width="3%">
            </a>
      </div>
      <div class="modular_payment_container">
            <p>
                  <a href="mailto:IANFERGUSONRVA@gmail.com">
                        <b>Contact Ian</b>
                  </a>
            </p>
      </div>

      {% endblock %}
</body>

</html>