<html>

      {% extends "template.html" %}

      <body>

            {% block content %}

            <a href="{{ url_for('index') }}">
                  <img src="../../static/img/THE_OG.jpg" class="the_og">
            </a>

            <a href="{{ url_for('bp_pcard') }}">
                  <h2>P-Card Forms</h2>
            </a>

            <br>

            <a href="{{ url_for('bp_reimbursements') }}">
                  <h2>Reimbursements</h2>
            </a>

            <br>

            <a href="{{ url_for('bp_reocurring') }}">
                  <h2>Reocurring Charges</h2>
            </a>

            {% endblock %}

      </body>
</html>